body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


input[type="text"] {
  grid-column: span 4;
  height: 40px;
  font-size: 1.2rem;
  text-align: right;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  height: 50px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: green;
  
}


.operador {
  background-color: red;
}

.operador:hover {
  background-color:red;
}
